<ion-header>
  <ion-navbar>
    <ion-title>Password reset</ion-title>

    <ion-buttons right>
      <button ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label floating>Token</ion-label>
    <ion-input [(ngModel)]="token" [disabled]="loadingUser || !!user"></ion-input>
  </ion-item>

  <p *ngIf="tokenError" class="error">{{tokenError}}</p>

  <button ion-button *ngIf="!loadingUser && !user" (click)="checkToken()">Check</button>

  <centrizer *ngIf="loadingUser" [vertical]="false">
    <ion-spinner></ion-spinner>
  </centrizer>

  <ng-container *ngIf="user">
    <p>
      Your username is:
      <strong>{{user.name}}</strong>
    </p>

    <form #form="ngForm" *ngIf="!submitting && !resetSuccess" (ngSubmit)="resetPassword()">
      <ion-item>
        <ion-label floating>New password</ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password" required [minlength]="PW_MIN_LENGTH"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm new password</ion-label>
        <ion-input [(ngModel)]="pwConfirmation" type="password" name="pwConfirmation" required [minlength]="PW_MIN_LENGTH"></ion-input>
      </ion-item>

      <ion-item text-wrap no-lines>The password must contain at least {{PW_MIN_LENGTH}} characters.</ion-item>

      <button ion-button type="submit" [disabled]="!form.valid || !passwordsMatch()" block>Set new password</button>
    </form>

    <centrizer *ngIf="submitting" [vertical]="false">
      <ion-spinner color="primary"></ion-spinner>
    </centrizer>

    <p *ngIf="resetSuccess">
      New password has been successfully set!
      Close this view and log in using above username and your new password.
    </p>
  </ng-container>
</ion-content>
