<ion-content>
  <ng-container *ngIf="groupedQuestionnaires; else loadingIndicator">
    <i *ngIf="!(groupedQuestionnaires | keys).length">No questionnaires yet</i>

    <ion-item-group *ngFor="let key of groupedQuestionnaires | keys | sort">
      <ion-item-divider>
        <ion-icon name="flask" item-start></ion-icon> {{key}}
      </ion-item-divider>

      <ion-item *ngFor="let questionnaire of groupedQuestionnaires[key]">
        <p item-start>{{questionnaire.id}}</p>
        <ion-label tappable (click)="edit(questionnaire)">{{questionnaire.name}}</ion-label>
        <ion-buttons item-end>
          <button ion-button icon-start clear (click)="duplicate(questionnaire)">
            <ion-icon name="copy" class="line-button-icon"></ion-icon>
            <span class="hide-sm">Duplicate</span>
          </button>
          <button ion-button icon-start *ngIf="questionnaire.studyId" (click)="editSchedules(questionnaire)">
            <ion-icon name="calendar" class="line-button-icon"></ion-icon>
            <span class="hide-sm">Schedules</span>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-item-group>
  </ng-container>

  <ng-template #loadingIndicator>
    <centrizer>
      <ion-spinner></ion-spinner>
    </centrizer>
  </ng-template>
</ion-content>

<ion-fab bottom right *ngIf="groupedQuestionnaires">
  <button ion-fab (click)="create()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
