<ion-header>
  <ion-navbar>
    <ion-buttons right>
      <button ion-button icon-only clear color="dark" (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Pick user</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="filter($event)"></ion-searchbar>
  <button ion-button full icon-left clear color="dark" *ngFor="let user of filteredUsers()" [disabled]="shouldExclude(user)" (click)="pick(user)">
    <ion-icon name="person"></ion-icon>
    <ion-label class="user-label">{{user.name}}</ion-label>
  </button>
</ion-content>
