<ion-content [class.loading]="!users">
  <ng-container *ngIf="users; else loadingIndicator">
    <button ion-button icon-left block clear (click)="loadData()">
      <ion-icon name="refresh"></ion-icon>
      Refresh
    </button>

    <ion-searchbar (ionInput)="filter($event)"></ion-searchbar>
    <ion-list-header no-lines>
      <ion-label>Show users with roles:</ion-label>
      <ion-select [(ngModel)]="roleFilter" multiple="true">
        <ion-option *ngFor="let role of roles" [value]="role">{{role}}</ion-option>
        <ion-option [value]="baseUsersRole">{{baseUsersRole}}</ion-option>
      </ion-select>
    </ion-list-header>

    <button ion-item *ngFor="let user of filteredUsers()" (click)="edit(user)">
      <ion-label>{{user.name}}</ion-label>
      <ion-badge item-end>{{user.role}}</ion-badge>
    </button>
  </ng-container>

  <ng-template #loadingIndicator>
    <centrizer>
      <ion-spinner name="dots"></ion-spinner>
    </centrizer>
  </ng-template>
</ion-content>

<ion-fab bottom right *ngIf="users">
  <button ion-fab (click)="createUser()">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
