<h2>{{question.content}}</h2>

<ion-item *ngIf="question.answerType === AnswerType.Text">
  <ion-input [(ngModel)]="answer.content" required placeholder="..."></ion-input>
</ion-item>

<ng-container *ngIf="isRangeQuestion(question)">
  <ion-item no-lines>
    <continuous-range item-content *ngIf="question.answerType === AnswerType.RangeContinuous" [(ngModel)]="answer.content"
      [min]="question.answerRange.min" [max]="question.answerRange.max" required>
      <ion-label range-left>
        {{question.answerLabels ? question.answerLabels[0] : question.answerRange.min}}
      </ion-label>
      <ion-label range-right>
        {{question.answerLabels ? question.answerLabels[1] : question.answerRange.max}}
      </ion-label>
    </continuous-range>
    <ion-range *ngIf="question.answerType === AnswerType.RangeDiscrete" [min]="question.answerRange.min"
      [max]="question.answerRange.max" step="1" snaps="true" pin="true" [(ngModel)]="answer.content"
      required>
      <ion-label range-left>{{question.answerLabels ? question.answerLabels[0] : question.answerRange.min}}</ion-label>
      <!-- XXX: What about intermediate labels? -->
      <ion-label range-right>
        {{question.answerLabels ? question.answerLabels[question.answerLabels.length - 1] : question.answerRange.max}}
      </ion-label>
    </ion-range>
  </ion-item>

  <ion-item no-lines text-wrap padding *ngIf="isPortrait()" class="landscape-hint">
    <ion-icon name="phone-portrait"></ion-icon>
    <ion-icon name="arrow-round-forward"></ion-icon>
    <ion-icon name="phone-landscape"></ion-icon>
    <br> This slider might be easier to use in landscape mode.
  </ion-item>
</ng-container>

<ion-list radio-group *ngIf="question.answerType === AnswerType.MultipleChoiceSingle" [(ngModel)]="answer.content">
  <ion-item *ngFor="let option of question.answerLabels; let i = index">
    <ion-label>{{option}}</ion-label>
    <ion-radio [value]="i.toString()"></ion-radio>
  </ion-item>
</ion-list>

<ion-list *ngIf="question.answerType === AnswerType.MultipleChoiceMany">
  <ion-item *ngFor="let option of question.answerLabels; let i = index">
    <ion-label>{{option}}</ion-label>
    <ion-checkbox (ionChange)="checkboxChange()" [attr.data-index]="i"></ion-checkbox>
  </ion-item>
</ion-list>

<ion-item *ngIf="question.answerType === AnswerType.TimeOfDay">
  <ion-datetime [displayFormat]="TimeFormat" [placeholder]="TimePlaceholder" [(ngModel)]="answer.content">
  </ion-datetime>
</ion-item>

<ion-item *ngIf="question.answerType === AnswerType.Date">
  <ion-datetime [displayFormat]="DateFormat" [placeholder]="DatePlaceholder"
    [(ngModel)]="answer.content" [max]="MaxDate"></ion-datetime>
</ion-item>
