questions-editor {
  // leave some space to prevent fab from covering last item
  ion-content:not(.loading) .scroll-content::after {
    content: "";
    display: block;
    height: 3em;
  }

  .new-question {
    display: flex;
    align-items: flex-end;

    [ion-button] {
      flex-shrink: 0;
    }
  }
}
