<form #form="ngForm" class="line" (ngSubmit)="submit()">
  <button ion-button icon-only outline *ngIf="!newStudy" color="dark" (click)="delete()" title="Delete">
    <ion-icon name="trash"></ion-icon>
  </button>

  <ion-item>
    <ion-label *ngIf="newStudy" floating>New Study</ion-label>
    <ion-input name="name" [(ngModel)]="editedStudy.name" required></ion-input>
  </ion-item>

  <button ion-button *ngIf="isAltered()" type="submit" [disabled]="!form.valid" icon-only>
    <ion-icon *ngIf="!newStudy" name="cloud-upload"></ion-icon>
    <ion-icon *ngIf="newStudy" name="add"></ion-icon>
  </button>
</form>
