study-editor {
  display: block;
  max-height: 100em;
  overflow: auto;

  // TODO: collect in file shared with other editor components
  &.deleted {
    max-height: 0;
    opacity: 0;
    transition-property: max-height, opacity;
    transition-duration: $medium-transition-duration;
    transition-timing-function: ease-out;
  }

  &.sending {
    pointer-events: none;
    animation: pulsate 2*$medium-transition-duration linear infinite;
  }

  .title {
    font-weight: 500;
  }

  .line {
    display: flex;
    align-items: center;
  }

  [ion-button] {
    flex-shrink: 0;
  }

  .participants-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .participants-list {
      flex-grow: 1;
    }
  }
}
