study-editor {
  display: block;
  max-height: 10em;

  // TODO: collect in file shared with other editor components
  &.deleted {
    max-height: 0;
    opacity: 0;
    transition-property: max-height, opacity;
    transition-duration: $medium-transition-duration;
    transition-timing-function: ease-out;
  }

  &.sending {
    pointer-events: none;
    animation: pulsate 2*$medium-transition-duration linear infinite;
  }

  .line {
    display: flex;
    align-items: center;
  }

  [ion-button] {
    flex-shrink: 0;
  }
}
