<form #form="ngForm" class="line">
  <button ion-button icon-only outline *ngIf="!newStudy" color="dark" (click)="delete()" title="Delete">
    <ion-icon name="trash"></ion-icon>
  </button>

  <ion-item>
    <ion-label *ngIf="newStudy" floating>New Study</ion-label>
    <ion-input name="name" [(ngModel)]="editedStudy.name" required></ion-input>
  </ion-item>

  <button ion-button *ngIf="isAltered()" type="submit" (click)="submit()" [disabled]="!form.valid" icon-only>
    <ion-icon *ngIf="!newStudy" name="cloud-upload"></ion-icon>
    <ion-icon *ngIf="newStudy" name="add"></ion-icon>
  </button>
</form>

<div *ngIf="!newStudy" class="participants-area">
  <ion-list class="participants-list">
    <ion-list-header>Participants</ion-list-header>
    <ion-item *ngFor="let participant of participants">
      <ion-icon name="person"></ion-icon>
      {{participant.name}}
      <button ion-button round icon-only small outline color="dark" (click)="removeParticipant(participant)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="participants && participants.length === 0">
      <i>No participants</i>
    </ion-item>
  </ion-list>
  <button ion-button round icon-only small outline (click)="addParticipant()">
    <ion-icon name="add"></ion-icon>
  </button>
</div>
