<ion-header>
  <ion-navbar>
    <ion-title>Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager *ngIf="questions && questions.length > 0">
    <ion-slide *ngFor="let question of questions; let i = index">
      <h2>{{question.content}}</h2>
      <ion-item>
        <ion-input *ngIf="question.answerType === AnswerType.Text"
          [(ngModel)]="answers[i].content" required placeholder="..."></ion-input>
        <continuous-range item-content *ngIf="question.answerType === AnswerType.RangeContinuous"
          [(ngModel)]="answers[i].content" required>
          <ion-icon range-left name="sad"></ion-icon>
          <ion-icon range-right name="happy"></ion-icon>
        </continuous-range>
        <ion-range *ngIf="question.answerType === AnswerType.RangeDiscrete5"
          min="1" max="5" step="1" snaps="true" pin="true" [(ngModel)]="answers[i].content" required>
          <ion-label range-left>1</ion-label>
          <ion-label range-right>5</ion-label>
        </ion-range>
      </ion-item>

      <ion-fab bottom right>
        <button ion-fab (click)="slides.slideNext()" [disabled]="!isValidAnswer(answers[i].content)">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <p *ngIf="everthingAnswered()">Thanks, answers are ready to be submitted:</p>
      <p *ngIf="!everthingAnswered()">There are unanswered questions, please go back and edit.</p>
      <button *ngIf="!submitting" ion-button (click)="submitAnswers()" [disabled]="!everthingAnswered()">Submit</button>
      <ion-spinner *ngIf="submitting" color="primary"></ion-spinner>
    </ion-slide>
  </ion-slides>

  <centrizer *ngIf="questions && questions.length === 0" class="no-questions" padding>
    <ion-icon class="icon" name="checkmark"></ion-icon>
    <div>There are no questions at the moment.</div>
  </centrizer>

  <centrizer *ngIf="!questions">
    <ion-spinner></ion-spinner>
  </centrizer>
</ion-content>
