<ion-header>
  <ion-navbar>
    <ion-title>Questions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides #slides pager *ngIf="questions && questions.length > 0">
    <ion-slide *ngFor="let question of questions; let i = index">
      <h2>{{question.content}}</h2>
      <ion-item>
        <ion-input #input="ngModel" [(ngModel)]="answers[i].content" required placeholder="..."></ion-input>
      </ion-item>

      <ion-fab bottom right>
        <button ion-fab (click)="slides.slideNext()" [disabled]="input.invalid">
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-fab>
    </ion-slide>

    <ion-slide>
      <p *ngIf="everthingAnswered()">Thanks, answers are ready to be submitted:</p>
      <p *ngIf="!everthingAnswered()">There are unanswered questions, please go back and edit.</p>
      <button *ngIf="!submitting" ion-button (click)="submitAnswers()" [disabled]="!everthingAnswered()">Submit</button>
      <ion-spinner *ngIf="submitting" color="primary"></ion-spinner>
    </ion-slide>
  </ion-slides>

  <centrizer *ngIf="questions && questions.length === 0" class="no-questions">
    <ion-icon class="icon" name="checkmark"></ion-icon>
    <div>There are no questions at the moment.</div>
  </centrizer>

  <centrizer *ngIf="!questions">
    <ion-spinner></ion-spinner>
  </centrizer>
</ion-content>
