page-questions {
  .no-questions {
    font-size: 150%;
    opacity: 0.25;
    text-align: center;

    .icon {
      font-size: 200%;
    }
  }

  // Workaround for disappearing slides content when on-screen keyboard is on: https://stackoverflow.com/questions/49422711/ionic-3-ion-slides-disappear-on-keyboard-open
  .scroll-content {
    padding-bottom: 0px !important;
  }
}