<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="submit()">
    <div class="form-fields">
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="credentials.name" name="name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="credentials.password" name="password" required [minlength]="PW_MIN_LENGTH"></ion-input>
      </ion-item>

      <ion-item *ngIf="registration">
        <ion-label floating>Password confirmation</ion-label>
        <ion-input type="password" [(ngModel)]="pwConfirmation" name="pwConfirmation" required [minlength]="PW_MIN_LENGTH"></ion-input>
      </ion-item>

      <ion-item *ngIf="registration" text-wrap no-lines>The password must contain at least {{PW_MIN_LENGTH}} characters.</ion-item>
    </div>

    <button *ngIf="!registration && !submitting" ion-button type="submit" [disabled]="!form.valid"
      block>Log in</button>
    <button *ngIf="registration && !submitting" ion-button type="submit" [disabled]="!form.valid || !passwordsMatch()"
      block color="secondary">Create account</button>
    <centrizer [vertical]="false" *ngIf="submitting">
      <ion-spinner [color]="registration ? 'secondary' : 'primary'"></ion-spinner>
    </centrizer>
  </form>

  <button ion-button clear color="dark" *ngIf="!showLostPwHint" (click)="showLostPwHint = true"
    class="forgot-pw-button">I forgot my password</button>
  <p *ngIf="showLostPwHint">
    If you forgot your password (or username), please send an e-mail to your contact person at the
    Centre for Chronobiology. You will receive a new token to set a new password.
  </p>

  <button ion-button clear color="dark" (click)="registration = !registration" class="register-toggle">
    <ng-container *ngIf="!registration">No account yet? Register</ng-container>
    <ng-container *ngIf="registration">Already registered? Log in</ng-container>
    <ion-icon name="arrow-forward" class="switch-button-icon"></ion-icon>
  </button>

  <hr>

  <button ion-button clear (click)="resetPassword()" class="pw-reset-button">I have a token</button>
</ion-content>
