login {
  padding: $content-padding;

  .form-fields {
    margin-bottom: 1em;
  }

  .switch-button-icon {
    margin-left: 0.5ex;
  }

  .forgot-pw-button,
  .register-toggle {
    margin-top: 1em;
    display: block;
  }

  .pw-reset-button {
    float: right;
  }
}
