<ion-header>
  <ion-navbar>
    <ion-title>
      Schedule of
      <strong>{{questionnaire.name}}</strong> for
      <strong>{{participant.name}}</strong>
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="copyFromUser()" color="primary" [disabled]="submitting">Copy from other user</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item no-lines>
    <ion-label>Start date</ion-label>
    <ion-input [(ngModel)]="editedSchedule.startDate" pattern="\\d{4}-\\d\\d-\\d\\d" placeholder="YYYY-MM-DD"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-label>
    <ion-datetime displayFormat="DDD, DD MMM YYYY" max="2100-12-31" [(ngModel)]="editedSchedule.startDate"></ion-datetime>
  </ion-item>

  <ion-item no-lines>
    <ion-label>End date</ion-label>
    <ion-input [(ngModel)]="editedSchedule.endDate" pattern="\\d{4}-\\d\\d-\\d\\d" placeholder="YYYY-MM-DD"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="calendar"></ion-icon>
    </ion-label>
    <ion-datetime displayFormat="DDD, DD MMM YYYY" max="2100-12-31" [(ngModel)]="editedSchedule.endDate"></ion-datetime>
  </ion-item>

  <ion-item no-lines>
    <ion-label>Start time</ion-label>
    <ion-input [(ngModel)]="editedSchedule.startTime" pattern="\\d\\d:\\d\\d:\\d\\d" placeholder="HH:mm:ss"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="time"></ion-icon>
    </ion-label>
    <ion-datetime displayFormat="HH:mm:ss" [(ngModel)]="editedSchedule.startTime"></ion-datetime>
  </ion-item>

  <ion-item no-lines>
    <ion-label>End time</ion-label>
    <ion-input [(ngModel)]="editedSchedule.endTime" pattern="\\d\\d:\\d\\d:\\d\\d" placeholder="HH:mm:ss"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      <ion-icon name="time"></ion-icon>
    </ion-label>
    <ion-datetime displayFormat="HH:mm:ss" [(ngModel)]="editedSchedule.endTime"></ion-datetime>
  </ion-item>

  <ion-item no-lines>
    <ion-label>Frequency</ion-label>
    <ion-input [(ngModel)]="editedSchedule.frequency" type="number" min="0"></ion-input>
    <ion-buttons item-end>
      <button ion-button round icon-only clear (click)="toggleFrequencyInfo()">
        <ion-icon name="information-circle" color="dark" class="info-button-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-item>
  <ion-item no-lines text-wrap *ngIf="showFrequencyInfo">
    <i>
      Frequency is the number of times the questionnaire is prompted per day, including one at start
      <strong>and</strong> end time, each. For example, start at 8:00 and end at 20:00 with frequency
      13 would result in one prompt each hour (8:00, 9:00, ... , 22:00).
    </i>
  </ion-item>
  <ion-item text-wrap>
    <ion-badge *ngFor="let time of calculatePromptTimes()" class="prompt-time" color="light">{{time.format("HH:mm")}}</ion-badge>
  </ion-item>
</ion-content>

<ion-footer>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button color="danger" (click)="confirmDelete()" [disabled]="submitting">Delete</button>
    </ion-buttons>
    <ion-buttons right>
      <button ion-button (click)="discard()" [disabled]="submitting">Cancel</button>
      <button ion-button solid color="primary" (click)="save()" [disabled]="submitting || !isValid()">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-footer>
